<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Vue5</title>
    <script type="text/javascript" src="vue.js"></script>
  </head>
  <style media="screen">
    .demo {
      background-color: grey;
      height: 100px;
      width: 100px;
      display: inline-block;
      margin: 15px;
    }
    .red {
      background-color: red;
    }
    .green {
      background-color: green;
    }
    .blue {
      background-color: blue;
    }
  </style>
  <body>
    <div id="app">
      <div class="demo" @click="attachRed = !attachRed" :class="{red: attachRed}">

      </div>
      <div class="demo" :class="divClasses">

      </div>
      <div class="demo" :class="color">

      </div>
      <div class="demo" :style="myStyle">


      </div>
      <hr>
      <label for="">Color: </label><input type="text" name="" value="" v-model="color">
      <label for="">Width: </label><input type="text" name="" value="" v-model="width">
      <label for="">Height: </label><input type="text" name="" value="" v-model="height">
    </div>
  <script type="text/javascript">
    new Vue({
      el: "#app",
      data: {
        attachRed: false,
        color: "green",
        width: 0,
        height: 0
      },
      computed: {
        divClasses: function() {
          return {
            red: this.attachRed,
            blue: !this.attachRed
          };
        },
        myStyle: function() {
          return {
            "background-color": this.color,
            "width": this.width + 'px',
            "height": this.height + 'px'
          };
        }
      }
    });
  </script>
  </body>
</html>
